
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html{
    background-color: rgb(33, 35, 37); 
}


.left-nav{

  height: 100%; /* 100% Full-height */
  width: 5%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(9, 9, 10); /* Black*/
 

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  
}



.side-nav-links{
  margin: 0;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -70%);

}



img{
  width: 100%; 
  margin-bottom: 20px; 

  padding: 0; 
}

img:hover{

}